.header > .container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-list,
.header-contacts-list {
  display: flex;
  align-items: center;
}

.nav-list-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--main-title-color);
  transition: color 250ms var(--transition-timing-function);
}

.nav-list-item:not(:last-child),
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-list {
  margin-left: auto;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--main-text-color);
  transition: color 250ms var(--transition-timing-function);
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-list-link.current {
  color: var(--accent-color);
}

.nav-list-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.header {
  border-bottom: 1px solid #ececec;
}
