.header-logo,
.footer-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.header-logo {
  margin-right: 93px;
  color: #000000;
}

.accent-logo {
  color: var(--accent-color);
}
